.main-title{
    height: 200px;
    text-align: center;
    font-size: 40px;
}
.container{
    display: flex;
    justify-content: center;
}
.puzzle-box {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-right: 100px;
    margin-left: 100px;
}
.result-box{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw;
    grid-template-rows: 15vw 15vw 15vw;
    position: relative;
}
.puzzle{
    border: 2px white solid;
    background-color: burlywood;

}
.puzzle-box > .puzzle{
    width: 8vw;
    height: 8vw;
}
.puzzle img {
    width: 100%;
    height: 100%;
}
.result > img{
    border: 1px #ccc solid;
}
.result-modal{
    overflow: hidden;
    transform: translateX(-500%);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 50vw;
    position: absolute;
    left: 35%;
    z-index: 5;
}
.result-modal > img{
    width: 100%;
    height: 100%;
}
button{
    width: 10vw;
    height: 3vw;
    min-width: 70px;
    min-height: 30px;
    background-color: burlywood;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}
.modal-btn{
    position: absolute;
    left: 25%;
    bottom: 0;
}
.main-btn{
    margin: 30px;
    position: absolute;
    left: 50;
    right: 50;
}
.result-ani{
    transform: translateX(0);
}
.close{
    display: none;
}
.btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

@media (max-width: 792px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .puzzle-box{
        flex-direction: row;
        margin: 50px;
    }
    .result-box{
        grid-template-columns: 30vw 30vw 30vw;
        grid-template-rows: 30vw 30vw 30vw;
    }
    .puzzle-box > .puzzle{
        width: 18vw;
        height: 18vw;
    }
}